body {
  font-family:'Roboto',sans-serif;
  font-weight:bold;
  text-align:center;
}


h1 {
  /*font-weight: lighter;*/
  font-size: 60px;
  letter-spacing: 2px;
  margin-bottom: 0px;
}

button {
  position: absolute;
  bottom: 30px;
  transform: translate(-50%, -50%);
  padding: 0.5em 3em;
  border: 3px solid #a3988d;
  margin-top: 30px;
  font: inherit;
  color: #a3988d;
  background-color: transparent;
  cursor: pointer;
  transition-duration: 0.4s;
}

button:hover {
  /*background-color: transparent;*/
  border: 3px solid #f1f1f1;
  color: #f1f1f1;
}

#myVideo {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*position: relative;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;*/
}

.content {
  position: fixed;
  bottom: 200px;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  padding: 40px;
  height: 250px;
  width: 100%;
  font-size: 18px;
  flex-direction: column;
  flex-wrap: wrap;
}

.resultSection {
  display: flex;
  margin-top: 50px;
  font-size: 35px;
  letter-spacing: 1.5px;
  justify-content: center;
}

a {
  color:gray;
}

.foot {
  position: fixed;
  bottom: 0;
  background: #E1D9D2;
  color: #6E6659;
  width: 100%;
  padding: 10px;
}
